<!DOCTYPE html>
<html>
<head>
  <title>LoraxApp</title>
  <link href='ApexSerifBold.otf' rel='stylesheet' type='text/css'>
  <link href='ApexSerifLight.otf' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type ="text/css" href="/stylesheets/style.css">
  <script src="/javascript/lib/Chart.min.js"></script>
  <script src="/javascript/lib/underscore.js"></script>
  <script src="/javascript/lib/jquery.js"></script>
  <script src="/javascript/lib/backbone.js"></script>
  <script src="/javascript/lib/handlebars.js"></script>
  <script src="/javascript/init.js"></script>
  <script src="/javascript/client.js"></script>
 
</head>
<body>
  <h1 class="header title">Project Lorax</h1>
    <a href="/logout">Logout</a>
    <a href="/profile">Profile</a>
  <div class="app">


    <div class="about">
    <div class="about_wrapper">
    <p>About Us: We’re firm believers technology can save the world.Or at least your plant at home. The Lorax will tell you when your plants are in need of water because your plants can’t tell you themselves. Just set it up, plug it in. Your plant will be chirping away in no time.  </p>
    </div>
    </div>


  <div class="tweets">
  <a class="twitter-timeline" href="https://twitter.com/projectlorax" data-widget-id="449320015930486785">Tweets by @projectlorax</a>
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);js.id=id;
        js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");

  </script>
</div>
</div>
</body>
</html>