<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Sniglet|Holtwood+One+SC|Candal|Happy+Monkey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type ="text/css" href="/stylesheets/style.css">
</head>
<body>

  <div>

    <h1> Welcome to Project Lorax</h1>

    <!-- show any messages that come back with authentication -->

    <!-- LOGIN FORM -->
    <!-- <form action="/login" method="post">
      <div>
        <label>Email</label>
        <input type="text" name="email">
      </div>
      <div>
        <label>Password</label>
        <input type="password"name="password">
      </div>

      <button type="submit">Login</button>
    </form> -->

    <div>
      <h3>Login or Register with: <a href="/auth/twitter">Twitter</a></h3>
    </div>

    <hr>
    <div class="about">
    <div class="about_wrapper">
    <p>About Us:We’re firm believers technology can save the world.Or at least your plant at home. The lorax will tell you when your plants are in need of water because they can’t tell you themselves. Just set it up, plug it in. Your plant will be chirping away in no time. About Us:We’re firm believers technology can save the world.Or at least your plant at home. The lorax will tell you when your plants are in need of water because they can’t tell you themselves. Just set it up, plug it in. Your plant will be chirping away in no time. </p>
    
    </div>
    </div>

  </div>
</body>
</html>