<div>

  <h1> Login with BB</h1>

  <!-- show any messages that come back with authentication -->




  <!-- LOGIN FORM -->
  <form action="/login" method="post">
    <div>
      <label>Email</label>
      <input type="text" name="email">
    </div>
    <div>
      <label>Password</label>
      <input type="password"name="password">
    </div>

    <button type="submit">Login</button>
  </form>

  <div>
    <h1>Node Authentication</h1>

    <p>Login or Register with:</p>

    <!-- <a href="/login">Login</a>
    <a href="/signup">Signup</a> -->
    <a href="/auth/twitter">Twitter</a>
  </div>

  <hr>

  <p>Need an account? <a href="/signup">Signup</a></p>
  <p>Or go <a href="/">home</a>.</p>

</div>