
<h2> Add a new plant! </h2>
  <form class="submit_form">
  <label>Plant Name </label><br>
  <input type="text" name="nickname"><br>
  <label>Plant type </label><br>
  <!-- <input type="text" name="plant_type"><br> -->
  <select>
    <option value="plant1">Cactus or Succulent</option>
    <option value="plant2">Leafy Plant</option>
    <option value="plant3">Flowering Plant</option>
    <option value="plant4">Fruit Bearing Plant</option>
  </select><br>
  <label>RPi Serial Id </label><br>
  <input type="text" name="serial_id"><br>
  <label>RPi Sensor Id </label><br>
  <input type="text" name="sensor_id"><br>
<!--   <label>Redline Value</label><br>
  <input type="number" name="redline"><br> -->
  <input type="submit">
  </form>