<div>

  <div>
    <h1> Profile Page with BB</h1>
    <a href="/logout">Logout</a>
  </div>

  <div>


    <!-- LOCAL INFORMATION -->
    <div>
      <div>
        <h3> Local</h3>

          <p>
            <strong>id</strong>: {{ _id }}<br>
            <strong>email</strong>: {{ local.email }}<br>
            <strong>password</strong>: {{ local.password }}
            <strong>id</strong>: {{ twitter.id }}<br>
            <strong>username</strong>: {{ twitter.username }}<br>
            <strong>displayName</strong>: {{ twitter.displayName }}
          </p>

      </div>
    </div>

  </div>

</div> 