@font-face{
  src: url("ApexSerifBold.otf");
  font-family: "Apex Serif Bold";
}
@font-face{
  src: url("ApexSerifLight.otf");
  font-family: "Apex Serif Light";
}


body {
  font-family: "Apex Serif Bold";
  background-color:#f1efa5;
  color:#554236;
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
}

.app{
  height:100%;
  width:100%;
}

.container {
  padding-left: 50px;
}

.header {
  font-size:36px;
  color:#58954e; /*green*/
}

.nav {
  padding-left: 20px;
}

.nav-links {
  padding-left: 10px;
}

.title {
  padding-left: 30px;
}

.header-orange {
  font-size: 34px;
  color:#f77825; /*orange*/
}

.signin h3 {
  margin-left:50px;
  font-size:30px;
  color:#554236; /*brown*/
}
.signin a {
  color:#f77825; /*orange*/
}

.about{
  background-image: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_525d659117c91_1.JPG");
  background-size:cover;
  background-attachment:fixed;
  width:100%;
  height:600px;
}

.about_wrapper{
  width:100%;
  height:100%;
  background-color:rgba(88, 149, 78, 0.65);
}

.about_wrapper p {
  color:#f1efa5; /*cream*/
  font-size:24px;
  margin:75px auto;
  padding-top:150px;
  width:40%;
}

.plants {
  padding-left: 50px;
  padding-bottom: 50px;
}

.plant {
  border: solid 2px #f77825;
  background-color: #58954e;
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  color: #f1efa5;
  overflow: auto;
}

.plant-container {
  height: 170px;
  width: 170px;
  margin: 10px;
  float: left;
}

.plant-form {
  clear: left;
  height: 100%;
  width: 146px;
  margin: 10px;
  padding: 10px;
  border: 4px solid #f77825;
  border-radius: 5px;
}
.submit_form input{
  width:80%;
}

.plus {
  background: url("/images/Add-New.png");
  background-size: 100%;
  height: 146px;
  width: 100%;
}

.tweets {
  margin:100px auto;
  width:35%;
}