@font-face{
  src: url("ApexSerifBold.otf");
  font-family: "Apex Serif Bold";
}
@font-face{
  src: url("ApexSerifLight.otf");
  font-family: "Apex Serif Light";
}


body {
  font-family: "Apex Serif Light";
  background-color:#f1efa5;
  color:#554236;
}

h1{
  color:#f77825;
  font-family: 'Candal', sans-serif;  
}

h2 {
/*  font-family: 'Holtwood One SC', serif;*/
  font-family: 'Candal', sans-serif;
  color:#60b99a;
}

h3{

}

h4 {
/*  font-family: 'Sniglet', cursive;*/
  color:#d3ce3d;
  font-family: 'Happy Monkey', cursive;
}

.about{
  background-image: url("../images/unsplash_leaf.jpg");
  background-size:cover;
  background-attachment:fixed;
}